*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(82, 20, 20);
    background: rgb(213, 203, 183);
    padding: 50px;
}

h1{
    margin: 10px 0px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.container label{
    margin: 10px;
    padding: 10px;
  
}
.container input{
    font-size: large;
}

.container  input{
    height: 50px;
    width: 200px;
}

.container button{
    padding: 20px;
}

.information{
    margin: 20px;
    line-height: 25px;
    font-size: 20px;
}
.information h3{
    text-align: center;
}